body {
	background: url("../images/galaxy4.jpg");
	background-size: cover;
  background-repeat: repeat;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
  color: white;
}

h1{
     word-wrap: break-word;
     -webkit-hyphens: auto;
     -moz-hyphens: auto;
     -ms-hyphens: auto;
     -o-hyphens: auto;
     hyphens: auto;
}

.jumbotron {
  background-color: transparent;
  text-align: center;
  margin-top: 105px;
}

.btn-default {
  background-color: transparent;
  color: white;
}

.btn-default:hover {
  background-color: transparent;
  webkit-stroke-width: 5.3px;
      -webkit-stroke-color: #FFFFFF;
      -webkit-fill-color: #FFFFFF;
      text-shadow: 1px 0px 20px white;

}

* {
  border-radius: 0 !important;
}

.footer {
  text-align: center;
  margin-top: 50px;
}
